<ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
      A Propos de nous
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
    <ion-card>
     <ion-card-content>
 <ion-item>
   <ion-icon name="man">

   </ion-icon>
<ion-label id="id">
 TCHOUFA NKOUATCHET JOEL 
</ion-label>
 </ion-item>
 <ion-item>
    <ion-icon name="man">
 </ion-icon>
   <ion-label id="id">
     NKEUGA NGUELIEKAM STEPHANE
   </ion-label> 
  </ion-item>
  <ion-item>
      <ion-icon name="woman">
   </ion-icon>
     <ion-label id="id">
       DJAMBOU GEORGETTE MICHELLE
     </ion-label> 
    </ion-item>


  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-content id="id">
      <ion-list>
    <ion-item  id="id">
        Notre application est destine au grand public et elle va permettre en gros 
        Ainsi elle pourra:
    </ion-item>
   
   
       <ion-item  id="ids">
          <ion-icon name="arrow-round-forward"></ion-icon>
          Rechercher/retrouver un objet perdu
       </ion-item>
       <ion-item  id="ids">
          <ion-icon name="arrow-round-forward"></ion-icon>  
        De faire une annonce pour un objet perdu
       </ion-item>
       <ion-item  id="ids">
          <ion-icon name="arrow-round-forward"></ion-icon>
          De voir la liste des Objets perdu
       </ion-item>
     </ion-list> 
     
  </ion-card-content>
</ion-card>

    <ion-card>
    <ion-row>
        <ion-col>
<ion-button expand="full"  id="id"  size="small">
facebook
</ion-button>
        </ion-col>
        <ion-col>
     <ion-button expand="full" color="secondary"  id="id" size="small">
Twitter
     </ion-button>     
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
<ion-button expand="full" color="medium" id="id"  size="small">
Google
</ion-button>
        </ion-col>
        <ion-col>
<ion-button expand="full" color="light" id="id" size="small">
yahoo
</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>

</ion-content>
<ion-footer>
    <ion-toolbar color="medium">
      <ion-title id="id" >@copyRight 2019</ion-title>
    </ion-toolbar>
  </ion-footer>
