

<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title  id="hand">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->
     <script src = "https://www.gstatic.com/firebasejs/6.2.4/firebase-app.js" > </script> 
      <script src = "https://www.gstatic.com/firebasejs/6.2.4/firebase-firestore.js" > </script> 

<script>
  // Your web app's Firebase configuration
 /* var firebaseConfig = {
    apiKey: "AIzaSyCe7Kc0kt0F3Fx1HxHpIL1jv1p1xDJnm54",
    authDomain: "imgprojet.firebaseapp.com",
    databaseURL: "https://imgprojet.firebaseio.com", 
    projectId: "imgprojet",
    storageBucket: "",
    messagingSenderId: "21208163983",
    appId: "1:21208163983:web:102d584243234da3"
  
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);

  var db = firebase.firestore();
  let docRef=db.collection("users").doc('id');
    let setAda=docRef.set({
      first: 'Ada',
    last: 'Lovelace',
    born: 1815
    });*/
</script>
<script>
    const admin = require('firebase-admin');
    const functions = require('firebase-functions');
    
    admin.initializeApp(functions.config().firebase);
    
    let db = admin.firestore();

    const admin = require('firebase-admin');

admin.initializeApp({
  credential: admin.credential.applicationDefault()
});

const db = admin.firestore();

const admin = require('firebase-admin');

let serviceAccount = require('path/to/serviceAccountKey.json');

admin.initializeApp({
  credential: admin.credential.cert(serviceAccount)
});

let db = admin.firestore();
let docRef = db.collection('users').doc('OHG48rGLAzKKzNNCaovm');

let setAda = docRef.set({
  first: 'Ada',
  last: 'Lovelace',
  born: 1815
});




</script>

    <ion-searchbar showCancelButton="focus" autocomplete="on"></ion-searchbar>
    <ion-card>
      

<ion-grid>
    <ion-img src="assets/img/objet.jpg">
    </ion-img>
</ion-grid>

 </ion-card>
 <ion-card>
    <ion-grid>
    
        <ion-row>
          <ion-col>
  <ion-button color="success"  size="small" expand="full"  id="footH">
    Annonces
  </ion-button>
          </ion-col>
          <ion-col>
<ion-button color="secondary"  size="small" expand="full"  id="footH">
 Objets perdus 
</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
  <ion-col>
  <ion-button color="secondary" size="small" expand="full"  id="footH" (click)="exit()" >
    Exit
  </ion-button>
  </ion-col>
  <ion-col>
    <ion-button color="success" size="small" expand="full" id="footH" >
A propos de nous
    </ion-button> 
   </ion-col>
        </ion-row>
  
        
  </ion-grid>
 </ion-card>
</ion-content>
<ion-footer >
<ion-toolbar color="medium">
  <ion-title id="footH">
    @CopyRight 2019
  </ion-title>
</ion-toolbar>
</ion-footer>